In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1. CARGA DEL DATASET 
df_original = sns.load_dataset("penguins")
print(f"Dimensiones originales antes de limpiar: {df_original.shape}")

# 2. LIMPIEZA DE DATOS (valor 'NA')
df_clean = df_original.dropna()

# 3. COMPROBACIÓN Y RESUMEN
print(f"Registros finales tras eliminar nulos: {df_clean.shape[0]}")
print(f"Valores nulos restantes en el dataset: {df_clean.isnull().sum().sum()}")

# 4. VISUALIZACIÓN DE LOS DATOS LIMPIOS
display(df_clean.head())
display(df_clean.describe())

Dimensiones originales antes de limpiar: (344, 7)
Registros finales tras eliminar nulos: 333
Valores nulos restantes en el dataset: 0

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      333.000000     333.000000         333.000000   333.000000
mean        43.992793      17.164865         200.966967  4207.057057
std          5.468668       1.969235          14.015765   805.215802
min         32.100000      13.100000         172.000000  2700.000000
25%         39.500000      15.600000         190.000000  3550.000000
50%         44.500000      17.300000         197.000000  4050.000000
75%         48.600000      18.700000         213.000000  4775.000000
max         59.600000      21.500000         231.000000  6300.000000